body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(/images/frontpage.jpg);
}
.page-container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  background: #efefef;
  background: rgba(255, 255, 255, 0.5);
}
header {
  overflow: hidden;
  background: rgba(255, 255, 255, 0.5);
}
.header-left {
  font-family: 'Quicksand', sans-serif;
  float: left;
  margin: 20px;
}
.header-left .logo {
  font-size: 60px;
}
.header-right {
  font-size: 25px;
  float: right;
  margin: 20px;
}
.login-link {
  text-decoration: none;
}
.twitter-info {
  float: right;
}
.twitter-info .twitter-list li {
  list-style: none;
  display: inline-block;
  margin: 10px;
}
.search {
  margin: 20px;
  padding: 10px;
}
.combo {
  display: inline-block;
  margin: 3px;
  font-size: 18px;
  text-align: center;
}
.combo .chord {
  font-family: Fira Sans, sans-serif;
  font-size: 1.2em;
  color: #008;
  min-height: 35px;
}
.combo .word {
  padding: 10px;
}
.combo input {
  text-align: center;
}
.title-bar {
  height: 50px;
}
.title-bar .title-bar-left {
  float: left;
}
.title-bar .title-bar-left .song-title {
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
}
.title-bar .title-bar-right {
  float: right;
}
.title-bar .title-bar-right li {
  list-style: none;
  display: inline;
  margin-left: 5px;
}
.lyrics-view {
  width: 70%;
  float: left;
  background: rgba(255, 255, 255, 0.5);
}
.song-menu {
  height: 40px;
  background: red;
}
.song-menu li {
  list-style: none;
  margin: 10px;
  display: inline;
}
.songbook {
  width: 30%;
  float: right;
}
