body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}
.page-container {
  width: 960px;
  background: #efefef;
}
header {
  overflow: hidden;
  background: grey;
}
.header-left {
  font-size: 55px;
  font-family: 'Quicksand', sans-serif;
  float: left;
  margin: 20px;
}
.header-right {
  font-size: 25px;
  float: right;
  margin: 20px;
}
.twitter-info {
  float: right;
}
.twitter-info .logout-button {
  color: blue;
}
.search {
  margin: 20px;
  background: red;
  padding: 10px;
}
.combo {
  display: inline-block;
  margin: 3px;
  font-size: 18px;
  text-align: center;
}
.combo .chord {
  font-family: Fira Sans, sans-serif;
  font-size: 1.2em;
  color: #008;
  min-height: 35px;
}
.combo .word {
  padding: 10px;
}
.combo input {
  text-align: center;
}
.search-auto-complete {
  position: relative;
}
.search-auto-complete .drop-down {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
}
.search-auto-complete .drop-down li {
  padding: 5px;
  background: green;
}
.search-auto-complete .drop-down li:hover {
  background: orange;
}
